myHeader {
  font-size: 1cm;
  font-weight: 700;
  text-align: center;
}

#personal:hover {
  color: red;
}

a.links {
  color: green;
  font-style: italic;
}

.dark-mode {
  background-color: black;
  color: white;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
